@page
@model Dip.Pages.Account.LogoutModel
@{
    ViewData["Title"] = "Выход";
}
<head>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<h2>Выход из системы...</h2>
<p>Пожалуйста, подождите...</p>
